//Colors

$light: #eaebee;
$primary: rgb(49, 49, 49);
$title: rgb(29, 29, 51);
$link: #5d1d99;

//Fonts

$main-font: "Open Sans", sans-serif;

//Spacing
$spacing: (
  "small": 5px,
  "regular": 10px,
  "large": 15px,
  "xlarge": 20px,
);
